<div style="width: 500px;height: 300px;margin: 0 auto;border: 1px solid #cbcbcb;border-top: 4px solid #df3434; padding: 20px;">
    <div style="color: #c03b20; text-align: center;"><h3>欢迎使用 Miner 内容订阅服务</h3></div>
    <div style="padding: 10px; font-size: 14px; letter-spacing: 2px;text-indent: 2em; line-height: 20px;">
        <p>或许我们不是最好的内容订阅服务，但是我们有可能是最差的！我们的目标是，没有最差，只有更差！！</p>
        <p>或许哪天心血来潮我就不再维护这个项目了，这个事情谁能说得准呢，毕竟我是一个任性的 Boy ！！</p>
        <p>好了，废话不说了，能看完这么多废话你也是挺闲的，赶紧点击认证吧！！</p>
    </div>
    <div style="text-align: center;"><a href="checkurl">点击认证</a></div>
</div>