body {
    margin: 0;
    padding: 0;
    background-color: #ECEADB;
}
.miner-main-container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.container{
    padding: 10px;
}
.no-style{
    list-style: none;
}
.box {
    border: 1px solid #cccccc;
    border-top: 4px solid #df3434;
    width: 100%;
    background-color: #fcfcfc;
    border-radius: 0 0 8px 8px;
}
.miner-title{
    height: 100px;
}
.miner-title h3 {
    line-height: 100px;
}
.item {
    border-bottom: 1px dashed #c6c6c6;
    padding: 10px;
    border-radius: 5px;
}
.item:hover{
    cursor: pointer;
    border-bottom: 1px solid #c6c6c6;
    background-color: #f7f7f7;
}
.item-title {
    font-size: 16px;
    font-weight: bold;
}
.meta-label {
    font-size: 10px;
    margin-right: 20px;
    color: #9E9E9E;
}
.footer {
    height: 100px;
}
footer {
    font-size: 13px;
    line-height: 100px;
    color: #cbcbcb;
}
footer section {
    display: inline-block;
    margin-right: 20px;
}
.left{
    border-right: 2px solid #df3434;
}
red {
    color: #df3434;
    margin: 0 10px;
}
.meta{
    font-size:10px;
    padding: 10px 0;
}
.comment{
    font-size: 15px;
    font-weight: bold;
    color: #a5a5a5;
}
.comment .title{
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #a5a5a5;
}
.description{
    font-size:15px;
    font-family: '微软雅黑';
}