<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div class="miner_main">
        <div class="miner_head">
            <ul>
                <li>分类: java</li>
                <li>来源:<a>zhangyw的博客</a></li>
                <li>阅读: 100</li>
                <div style="clear: both"></div>
            </ul>
        </div>
        <div class="miner_body" th:utext="${html}"></div>
        <div class="miner_foot"></div>
    </div>
</body>
</html>