<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miner - 首页</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="miner-main-container">
        <div class="header">
            <h1>Miner 也许是<red>国内外第二烂</red>的内容订阅服务</h1>
        </div>
        <div class="content">
            <div class="son left">
                <div class="title">
                    <h2>昨日资源列表</h2>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="li-meta">
                                <div class="title"><a href="#">这里是文章标题</a></div>
                                <div class="meta"><span>作者: zhangyw</span><span>发表时间: 2017-01-01</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="son right">
                <div class="desc">
                    <div class="title">
                        <h2>简单作一个自我介绍</h2>
                    </div>
                    <div class="content">
                        <p>
                            一个内容订阅服务，<red><strong>给自己用的</strong></red>，如果你想用我也<red>不会拒绝</red>。主要内容包含 java、scala、python、前端等一系列我感兴趣的东西。如果暂时没收录到你的<red>G点</red>，你可以提需求嘛。
                        <p>
                        邮箱: zhangyw001@gmail.com<br>微信: <del>犹豫要不要公布</del>
                        </p>
                    </div>
                </div>
                <div class="sub">
                    <span class="h-title">订阅每日推送</span>
                    <input class="input" type="email" placeholder="请输入邮箱" name="email">
                    <button class="button">订阅</button>
                </div>
                <div class="sub">
                    <span class="h-title">提交资源</span>
                    <input class="input" type="url" placeholder="请输入地址" name="url">
                    <button class="button">提交</button>
                </div>
            </div>
        </div>
        <div class="foot"></div>
    </div>
</body>
</html>