<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miner - 首页</title>
    <link rel="stylesheet" type="text/css" href="dist/kube/css/kube.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="application/javascript" src="http://util.zhangyingwei.com/js/jquery.min.js"></script>
    <script type="application/javascript" src="dist/kube/js/kube.min.js"></script>
    <script type="application/javascript" src="dist/layer/layer.js"></script>
    <script type="application/javascript" src="dist/is/is.js"></script>
    <script type="application/javascript" src="js/main.js"></script>
</head>
<body>
<div class="miner-main-container ">
    <div class="miner-title text-center">
        <h3>Miner 也许是<red>国内外第二烂</red>的内容订阅服务</h3>
    </div>
    <div class="box">
        <div class="row">
            <div class="col col-7 left">
                <div class="container text-center">
                    <h5>今日资源汇总</h5>
                </div>
                <div>
                    <ul class="no-style">
                        <li th:each="content : ${contents}">
                            <div class="item">
                                <label class="item-title"><a target="_blank" href="#" th:href="@{${content.url}}" th:text="${content.title}">从零构建 TCP/IP 协议</a></label>
                                <span class="meta-label">来源: <a target="_blank" href="#" th:href="@{${content.site}}" th:text="${content.sitename}">github.com</a></span>
                                <span class="meta-label">发表时间: <span th:text="${content.pubdate}">2017-01-01</span></span>
                                <span class="label badge success" th:text="${content.topic}">java</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-5">
                <div class="about container">
                    <div class="text-center">
                        <h5>作个自我介绍吧</h5>
                    </div>
                    <div class="container">
                        <p>
                            一个内容订阅服务，<red><strong>给自己用的</strong></red>，如果你想用我也<red>不会拒绝</red>。主要内容包含 java、scala、python、前端等一系列我感兴趣的东西。如果暂时没收录到你的<red>G点</red>，你可以提需求嘛。
                        <p>
                    </div>
                    <div class="box container">
                        <span>邮箱: <a href="mailto:zhangyw001@gmail.com" class="label">zhangyw001@gmail.com</a></a>
                        <br>
                            <span>微信: <a href="#" class="label"><del>犹豫要不要公布</del></a></span>
                        <br>
                        <span>微博: <a class="label" href="http://weibo.com/zyw8866">专业喝咖啡</a></span>
                    </div>
                    <div class="container">
                        <nav class="tabs" data-component="tabs" data-equals="true">
                            <ul>
                                <li class="active"><a href="#tab1">订阅</a></li>
                                <li><a href="#tab2">提交网站</a></li>
                            </ul>
                        </nav>
                        <div id="tab1">
                            <div class="form-item">
                                <div class="message focus" data-component="message">订阅成功之后，您将会在每日早上收到我们的最新资源推送哦。<span class="close small"></span></div>
                                <div class="append">
                                    <input placeholder="请输入邮箱" type="email" required="required" autofocus="autofocus" name="email" id="email">
                                    <button class="button red" id="emailBut">订阅</button>
                                </div>
                            </div>
                            <div class="topic-labels">
                                <a th:each="topic : ${topics}" style="cursor: pointer" class="label outline success"><span th:text="${topic}">scala</span></a>
                            </div>
                        </div>
                        <div id="tab2">
                            <div class="form-item">
                                <div class="message focus" data-component="message">您可以提交资源网站(<b>网址</b>, <b>rss地址</b> 等)，通过审核通过后，您所提交的资源网站的更新将有机会出现在每日资源中哦！<span class="close small"></span></div>
                                <div class="append">
                                    <input placeholder="请输入网址" type="url" required="required" autofocus="autofocus" name="url" id="url">
                                    <button class="button red" id="urlBut">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center footer">
        <footer>
            <section>Miner © 2017-08-13</section>
            <section>Powered by <a href="http://zhangyingwei.com">zhangyw</a></section>
        </footer>
    </div>
</div>
</body>
</html>