<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miner - 首页</title>
    <link rel="stylesheet" type="text/css" href="dist/kube/css/kube.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="application/javascript" src="http://util.zhangyingwei.com/js/jquery.min.js"></script>
    <script type="application/javascript" src="dist/kube/js/kube.min.js"></script>
</head>
<body>
<div class="miner-main-container ">
    <div class="miner-title text-center">
        <h3>Miner 也许是<red>国内外第二烂</red>的内容订阅服务</h3>
    </div>
    <div class="box">
        <div class="row">
            <div class="col col-7 left">
                <div class="container text-center">
                    <h5>昨日资源汇总</h5>
                </div>
                <div>
                    <ul class="no-style">
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">从零构建 TCP/IP 协议</a></label>
                                <span class="meta-label">来源: github.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">小型 Web 页项目打包优化方案</a></label>
                                <span class="meta-label">来源: mp.weixin.qq.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">游戏是什么？关于游戏本体论的探索</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">机器学习系列特征工程：降维</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">浅析 Bigtable 和 LevelDB 的实现</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">多场景业务建模系统</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">利用 std/esm 在 Node.js 开发中使用 ES Modules</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">Yii2 框架学习笔记：基础抽象</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">[译] Google 内部流传的反多样性文章</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <label class="item-title"><a href="#">从源码层解析 ContentService 如何实现数据变化监听</a></label>
                                <span class="meta-label">来源: blog.zhangyingwei.com</span>
                                <span class="meta-label">发表时间: 2017-01-01</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-5">
                <div class="about container">
                    <div class="text-center">
                        <h5>作个自我介绍吧</h5>
                    </div>
                    <div class="container">
                        <p>
                            一个内容订阅服务，<red><strong>给自己用的</strong></red>，如果你想用我也<red>不会拒绝</red>。主要内容包含 java、scala、python、前端等一系列我感兴趣的东西。如果暂时没收录到你的<red>G点</red>，你可以提需求嘛。
                        <p>
                    </div>
                    <div class="box container">
                        <span>邮箱: zhangyw001@gmail.com</span>
                        <br>
                        <span>微信: <del>犹豫要不要公布</del></span>
                    </div>
                    <div class="container">
                        <nav class="tabs" data-component="tabs" data-equals="true">
                            <ul>
                                <li class="active"><a href="#tab1">订阅</a></li>
                                <li><a href="#tab2">提交网站</a></li>
                            </ul>
                        </nav>
                        <div id="tab1">
                            <div class="form-item">
                                <div class="append">
                                    <input type="text">
                                    <button class="button red">订阅</button>
                                </div>
                            </div>
                        </div>
                        <div id="tab2">
                            <div class="form-item">
                                <div class="append">
                                    <input type="text">
                                    <button class="button red">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center footer">
        <footer>
            <section>Miner © 2017-08-13</section>
            <section>Powered by <a href="https://zhangyingwei.com">zhangyw</a></section>
        </footer>
    </div>
</div>
</body>
</html>